version: "3"

services:
  nuxt:
    build:
      context: .
      dockerfile: ./docker/node/Dockerfile
    container_name: signal_app
    restart: always
    ports:
      - "3800:3800"
    command:
      "npm run start"

  nginx:
    image: nginx:1.13
    container_name: signal-nginx
    ports:
      - "80:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/conf.d/:/etc/nginx/conf.d/
    depends_on:
      - nuxt
